body {
    background: rgb(243, 164, 112);
}

.currency-box {
    max-width: 400px;
}

.currency-row {
    border: 1px solid rgb(175, 175, 175);
    display: flex;
    align-items: center;
    overflow: hidden;
}

.currency-row:first-child {
    border-radius: 6px 6px 0 0;
}

.currency-row:last-child {
    border-radius: 0 0 6px 6px;
}

.currency-row:not(:last-child) {
    margin-bottom: -1px;
}

.currency-info {
    margin-right: 15px;
    padding: 10px 15px;
    height: 100%;
    background-color: #eecbcb;
    font-size: 22px;
}

.currency-row span {
    font-size: 22px;
    font-weight: 20;
    margin-right: 10px;
}